<div th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
                <h2 class="footer-heading">Магия чистоты</h2>
                <p>Профессиональная клининговая компания, которая заботится о чистоте и комфорте вашего дома или
                    офиса.</p>
            </div>

            <div class="col-md-6 col-lg-4 pl-lg-5 mb-4 mb-md-0">
                <h2 class="footer-heading">Навигация</h2>
                <ul class="list-unstyled">
                    <li><a href="/" class="py-1 d-block">Главная</a></li>
                    <li><a href="/about" class="py-1 d-block">О нас</a></li>
                    <li><a href="/services-client" class="py-1 d-block">Сервисы</a></li>
                    <li><a href="/contact" class="py-1 d-block">Контакты</a></li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
                <h2 class="footer-heading">Есть вопросы?</h2>
                <div class="block-23 mb-3">
                    <ul>
                        <li><span class="icon fa fa-map-marker"></span><span class="text">г. Ставрополь, пр.
                                        Кулакова 2/1</span></li>
                        <li><a href="tel:+79994567890"><span class="icon fa fa-phone"></span><span class="text">(+7)
                                            999-456-7890</span></a></li>
                        <li><a href="mailto:info@happydayaway"><span class="icon fa fa-paper-plane"></span><span
                                class="text">info@happydayaway</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12 text-center">

                <p class="copyright">
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved <i
                        class="fa fa-heart" aria-hidden="true"></i> by <a href="https://t.me/happydayaway"
                                                                          target="_blank">happydayaway</a>
                </p>
            </div>
        </div>
    </div>
</div>